body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS untuk navbar */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #007bff; 
  padding: 10px; 
  color: white; 
  height: 50px;
}

/* CSS untuk judul bootcamp */
.navbar .left {
  flex: 1;
  font-size: 10px;
}

/* CSS untuk navigasi menu*/
.navbar .right {
  display: flex; 
  margin-right: 20px;
}

.navbar nav a {
  color: white; 
  margin-left: 10px; 
  text-decoration: none; 
}

.navbar nav a:hover {
  text-decoration: underline;
}

.form {
  width: 50%; 
  margin: 0 auto; 
  padding: 20px;
}

/* index.css */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 10px;
  gap: 0;
}

.image-item {
  overflow: hidden;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}
